* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("clouds.jpg");
    font-size: 22px;
    color: rgb(2, 56, 104);
}

span.names {
    display: inline-block;
    width: 180px;
}

button#language_change_btn {
    width: 2.5em;
    margin-left: 2em;
    background-color: rgb(246, 220, 220);
    border-radius: 3px;
    transition-duration: 0.3s;
}

button#language_change_btn:hover {
    background-color: rgb(255, 82, 82);
}

div.head {
    display: flex;
    align-items: center;

}

h1 {
    display: inline-block;
    width: 750px
}

button#ajaxButton {
    width: 10em;
}